# Executables and Libraries
*.exe
*.o
*.obj
*.dll
*.lib
*.a

# Visual Studio & IDE temporary folders
.vs/
bin/
obj/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary / Zip files
*.zip
*.tmp
*.log
update.zip
